/* 
    Document   : style
    Created on : Sep 18, 2013, 3:40:04 PM
    Author     : stephen
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

body {
        background: #A3CCCC;
}

div {
	border-radius: 5px;    
}

h1 {
font-size: 60px;
font-weight: 300;
color: #000;
line-height: 60px;
margin: 20px 0 40px;
text-align: center;
}
h2 {
color: #000000;
font-size: 30px;
font-weight: 300;
line-height: 30px;
margin: 40px 0 20px;
}
p {
color: #606060;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.025em;
line-height: 1.5em;
}
#header{
	width: 960px;
	height: 50px;
	margin: 0px auto;
	padding-top: 30px;
}

#navigation {
	width: 960px;
	height:50px;
	background: blue;

}

#query {
	border-radius: 5px;
	height: 24px;
	width: 560px;
	margin: 9px 5px 0px 90px;
}

#bsearch {
	
}

#content {
	width: 960px;
	margin: 0px auto;
        border: 1px solid #454592;
        background: whitesmoke;
}

#maincontent {
	width: 950px;
	float: left;
	padding: 0px;
}

.searchBar {
	width: 950px;
	height: 45px;
	background: green;
        margin-left: 5px;
}

.searchBar .in{
    height:25px;
    width:300px;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
}
.searchBar input[type="submit"]{
    height:30px;
    width:100px;
    background-color: #C2DAFF;
    border: solid 1px #000;
    border-radius: 5px;
    margin-right: 25px;
}
.imagecontent {
	width: 950px;
	height: 150px;
	margin-bottom: 5px;
	float: left;
}



.image {
	width:120px;
	height:130px;
	float:left;
        margin:10px;
}

.titlecon {
	width: 810px;
	height: 30px;
	float:right;
}

.description {
	border-top: 1px solid black;
	margin-top: 5px;
	width: 810px;
	height:144px;
	float:right;
	
        border-radius: 0px;
}

.tweet {
    width: 625px;
    height:130px;
    margin-top: 5px;
}

.tweet img {
    
    background: #fff;
    padding: 2px;
    border-radius: 15px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tweet .desc {
    padding: 5px 0;
    
}

.tweet .author {
    background: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    clear:both;
}

#footer {
	width: 960px;
	height: 60px;
	margin: 0px auto;
}

.pull-right{
    text-align: right;
}

.nav {
	clear:both;
	width:100%;
	height:10px;
}

#navbar {
    margin-top: 2px;
    width: 960px;
    background: #454592;
    float: left;
    border-radius: 3px;
}

#navbar li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 46px;
    line-height: 46px;
    position: relative;
}

#navbar li:first-child {
    margin-left: 20px;
}

#navbar a {
    line-height: 100%;
    font-weight: bold;
    color: #fff;
    padding: 14px 15px;
    font:16px Arial;
    text-decoration: none;
    border: none;
    display: block;
}

#navbar a:hover {  
    background: #474747;
}

